.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto;
    color: #fff;
}

.container h1 {
    font-size: 43px;
    margin-bottom: 6px;
}

.container p {
    font-size: 24px;
    margin-bottom: 56px;
}

.container a {
    font-size: 16px;
    text-decoration: underline;
}